body {
background: rgba(16, 16, 100, 0.637);
color: white;
display: flex;
}
.do {
    color: lightseagreen;
}
.pocle {
  color: lightseagreen;  
}
.a  {
    color: lightseagreen; 
}
/b {
    color: lightseagreen
}







